<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="awesome site powered by SimpleWiki"/>
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SimpleWiki</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css"/>
    <link rel="stylesheet" href="../../assets/css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/css/flat-ui.min.css"/>
    <style>
        li {
            list-style: none;
        }
        .bg-yellow {
            background-color: #ffff00;
        }
    </style>
    <!-- start Mixpanel -->
    <script type="text/javascript">(function (f, b) {
        if (!b.__SV) {
            var a, e, i, g;
            window.mixpanel = b;
            b._i = [];
            b.init = function (a, e, d) {
                function f(b, h) {
                    var a = h.split(".");
                    2 == a.length && (b = b[a[0]], h = a[1]);
                    b[h] = function () {
                        b.push([h].concat(Array.prototype.slice.call(arguments, 0)))
                    }
                }

                var c = b;
                "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel";
                c.people = c.people || [];
                c.toString = function (b) {
                    var a = "mixpanel";
                    "mixpanel" !== d && (a += "." + d);
                    b || (a += " (stub)");
                    return a
                };
                c.people.toString = function () {
                    return c.toString(1) + ".people (stub)"
                };
                i = "disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
                for (g = 0; g < i.length; g++)f(c, i[g]);
                b._i.push([a, e, d])
            };
            b.__SV = 1.2;
            a = f.createElement("script");
            a.type = "text/javascript";
            a.async = !0;
            a.src = "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
            e = f.getElementsByTagName("script")[0];
            e.parentNode.insertBefore(a, e)
        }
    })(document, window.mixpanel || []);
    mixpanel.init("02b8ceecaba2b9e6bbbcac84811e10d9");</script>
    <!-- end Mixpanel -->
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{homepage}}">{{appName}}</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/xuqingfeng/SimpleWiki" target="_blank"><span class="fui-github"></span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="col-lg-3">
    <span class="fui-folder"></span>
</div>
<div class="col-lg-9">
    <span class="fui-list-columned">&nbsp;{{filePath}}&nbsp;</span>
    <span class="fui-new">&nbsp;LastModified: {{lastModified}}</span>
</div>

<div class="col-lg-3">
    <div class="input-group">
        <span class="input-group-addon"><span class="fui-search"></span></span>
        <input type="text" class="form-control" placeholder="Search" id="instantSearch"/>
    </div>
    <div id="fileArea">
        <ul>
            {{#files}}
            <li data-name="{{name}}" data-link="{{link}}" data-type="{{type}}" data-yo="close" id="file">
                {{#isDir}}{{name}}{{/isDir}}
                {{^isDir}}<a href="{{link}}">{{name}}</a>{{/isDir}}
                <br>
            </li>
            {{/files}}
        </ul>
    </div>

</div>

<div class="col-lg-9">
    {{{content}}}
</div>

<script type="text/javascript" src="../../assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="../../assets/js/flat-ui.min.js"></script>
<script>
    (function () {

        var getFilesUrl = "/getFiles";

        mixpanel.track('PV');

        // open dir
        $('#fileArea').on('click', '#file', function () {

            var target = $(this);
            var name = target.data('name');
            var type = target.data('type');
            var link = target.data('link');
            var yo = target.data('yo');
            if ('dir' == type && 'close' == yo) {
                target.data('yo', 'open');
                getFilesByDir(link, target);
            }
        });

        // instant search
        var lock = false;
        $('#instantSearch').on('keyup', function () {

            if (!lock) {
                lock = true;
                var searchData = $(this).val();
                $('#fileArea').empty();
                if ('' != searchData) {
                    searchFiles(searchData);
                } else {
                    getFilesByDir('', $('#fileArea'));
                }
            }

        });

        function getFilesByDir(link, target) {

            $.ajax({
                url: getFilesUrl,
                type: 'POST',
                data: {'link': link},
                // fix 'Unexpected end of input'
                dataType: 'json',
                success: function (msg) {
                    var stringInserted = "<ul>";
                    $.each(msg['files'], function (key, value) {
                        stringInserted += "<li data-name='" + value['name'] + "' data-link='" + value['link'] + "' data-type='" + value['type'] + "' data-yo='close' id='file'>";
                        if ('dir' == value['type']) {
                            stringInserted += value['name'];
                        } else {
                            stringInserted += "<a href='" + value['link'] + "'>" + value['name'] + "</a>";
                        }
                        stringInserted += "<br></li>";
                    });
                    stringInserted += "</ul>";
                    target.append(stringInserted);
                },
                error: function () {
                },
                complete: function () {
                    lock = false;
                }
            });
        }

        function searchFiles(searchData) {

            $('#fileArea').empty();
            $.ajax({
                url: getFilesUrl,
                type: 'POST',
                data: {'search': searchData},
                dataType: 'json',
                success: function (msg) {
                    var stringInserted = "<ul>";
                    $.each(msg['files'], function (key, value) {
//                        stringInserted += "<li><a href='" + value['link'] + "'>" + value['name'] + "</a></li>";
                        stringInserted += "<li><a href='" + value['link'] + "'>" + addBackground(value['name'], searchData) + "</a></li>";
                    });
                    stringInserted += "</ul>";

                    $('#fileArea').append(stringInserted);
                },
                error: function () {
                },
                complete: function () {
                    lock = false;
                }
            });
        }
        function addBackground(fileName, searchData){
            var searchResult = fileName.replace(searchData, "<span class='bg-yellow'>"+searchData+"</span>");
            return searchResult;
        }
    })();
</script>
</body>
</html>